*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
button{
    outline:none;
    background: none;
    border: none;
    color: #fff;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
.nav{
    display:flex;
    align-items: center;
    justify-content:space-around;
    padding:1rem;
    background-color: rgb(0, 162, 255);
}
.nav h1 {
    color: white;
    font-size:2rem;
}
.nav span{
    color: orange;
}
.nav-items{
    height:auto;
    display:flex;
}

.nav-items li a {
    margin: 1rem;
    color: #fff;
    font-size: 1.1rem;
    transition: all 250ms;
    opacity: .8;
}
.nav-items li a:hover{
    border-bottom: 2px solid #fff;
    opacity:1;
}
.nav-social a{
    margin: .5rem;
    color: #fff;
}
.bars{
    color: white;
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-social{
        display: none;
    }

    .nav
    { flex-direction: column;
       align-items: flex-start;
    }

   .nav-items{
    height:0;
    overflow: hidden;
    flex-direction:column;
   }
 
    .nav-items li {
        margin-top: .8rem;
        display:block;
        height:auto;
    }
    .nav-items li a{
        margin-top: 2rem;
        font-size: 1.5rem;
        height:auto;
    }
    .bars{ 
        position: absolute;
        right: 20px;
        top: 20px;
        display: flex;
    }
}
.show-links{
    height:auto;
}